.App {
    text-align: center;
    min-width: 600px;
    max-width: 40%;
    margin: 20px auto;

    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 6rem;
        color: #f55951;
    }
}